[package]
name = "evolve_mempool"
version = "0.1.0"
edition = "2021"
repository.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
tokio = { workspace = true }
thiserror = "2"

[lints]
workspace = true
